#background {
	background-color:white;
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
}

h1 { 
background-color:grey;
margin:5px;
 }

body {

	background-color:orange;
}

#header {
	
	width:300px;
}

#instructions {

	background-color:yellow;
	width: 400px;
	height:400px;
}

#random-number {
	margin:10px
	position:inline-block;
	float:left;
	background-color:green;
	font-size:42px;
	width:200px;
	height:100px;
}

#wins {
	
	position:inline-block;
	float:left;
	background-color:grey;
	width:100px;
	height:100px;
}

#crystal-buttons {
	
	position:inline-block;
	float:left;
	background-color:red;
	width:400px;
	height:100px;


}
#crystal-buttons img {
	width:75px;
	height:75px;
	border:1px solid red;
	position:inline-block;
	float:left;



}
/*#button-1 {
	
	position:inline-block;
	float:left;
	color:blue;
	width:100px;
	height:100px;
}

#button-2 {

	position:inline-block;
	float:left;
	color:blue;
	width:100px;
	height:100px;
}

#button-3 {

	position:inline-block;
	float:left;
	color:blue;
	width:100px;
	height:100px;
}

#button-4 {

	position:inline-block;
	float:left;
	color:blue;
	width:100px;
	height:100px;
}*/




#your-score {
	position:inline-block;
	float:left;
	background-color:blue;
	width:200px;
	height:100px;
}